Profile DNS53
Setting -Port=53 -WorkingMode=Dns -MaxRequests=2000000000 -DnsTimeoutSec=9 -ProxyTimeoutSec=40 -KillOnCpuUsage=40 -BlockPort80=True -AllowInsecure=False -DNSs="dnss.txt" -BootstrapIp=8.8.8.8 -BootstrapPort=53

Profile DNS5353
Setting -Port=5353 -WorkingMode=Dns -MaxRequests=2000000000 -DnsTimeoutSec=9 -ProxyTimeoutSec=40 -KillOnCpuUsage=40 -BlockPort80=True -AllowInsecure=False -DNSs="dnss5353.txt" -BootstrapIp=8.8.8.8 -BootstrapPort=53

Profile DoH
Setting -Port=443 -WorkingMode=Dns -MaxRequests=2000000000 -DnsTimeoutSec=9 -ProxyTimeoutSec=40 -KillOnCpuUsage=40 -BlockPort80=True -AllowInsecure=False -DNSs="dnss.txt" -BootstrapIp=8.8.8.8 -BootstrapPort=53
SSLSetting -Enable=True -ServerDomainName=127.0.0.1 -RootCA_Path="localhost.crt" -RootCA_KeyPath="localhost.key" -Cert_Path="localhost.crt" -Cert_KeyPath="localhost.key" -ChangeSni=False -DefaultSni=

Requests True
DebugInfo True
LogToFile True